<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading mb-3">Hello, I'm Khai Kiong.</h1>
        <h1 class="masthead-heading mb-0">I'm a full stack developer.</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">
            Taman Meranti Jaya 47100 Puchong, Selangor · xcteo31@gmail.com</p>

    </div>
</header>

<!-- Portfolio Section -->
<section class="page-section portfolio" id="experience">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experience</h2>

                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="divider-custom-line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li *ngFor="let experience of experiences; index as i" [ngClass]="{'timeline-inverted': i%2 === 0}">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{experience.companyLogo}}"
                                    alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{experience.lengthOfService}}</h4>
                                    <h4 class="subheading">{{experience.position}}</h4>
                                    <h4 class="subheading text-muted">{{experience.company}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>{{experience.description}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image timeline-final">
                                <h4>Future
                                    <br>is
                                    <br>Bright!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
                <p class="lead">A motivated professional seeking to a job that provides a promising career growth and a
                    dynamic learning environment to enhance my technical knowledge.</p>
            </div>
        </div>

    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="skills">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <ul class="list-inline dev-icons text-center">
            <li class="list-inline-item">
                <i class="fab fa-angular fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-aws fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-node fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-npm fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-yarn fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-html5 fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-sass fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-less fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-git fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-github fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-linux fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-ubuntu fa-3x"></i>
            </li>
        </ul>

        
    </div>
</section>